@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    color: #f6e9e9;
}

body, html {
    background: #272121;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.container {
    width: 100%;
    background-color: #272121;
    border: 1px solid rgba(246, 233, 233, 0.29);
    height: 100%;
}

header {
    font-size: 25px;
    font-weight: 500;
    color: #272121;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6e9e9;
}

.score-board {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
    margin-bottom: 40px;
}

.player-score-board {
    border: 1px solid rgba(246, 233, 233, 0.29);
    background-color: #363333;
    padding: 10px 50px;
    position: relative;
    font-size: 20px;
}

.player-score-board .you{
    font-size: 10px;
    background-color: #E16428;
    padding: 5px 15px;
    border-radius: 2px;
    position: absolute;
    left: -30px;
    bottom: 9px;
}

.computer-score-board {
    border: 1px solid rgba(246, 233, 233, 0.29);
    background-color: #363333;
    padding: 10px 50px;
    position: relative;
    font-size: 20px;
}

.computer-score-board .com{
    font-size: 10px;
    background-color: #E16428;
    padding: 5px 15px;
    border-radius: 2px;
    position: absolute;
    right: -30px;
    bottom: 9px;
}

.game-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.game-result .game-selection {
    border: 1px solid rgba(246, 233, 233, 0.29);
    border-style: dashed;
    padding: 15px;
    text-align: center;
    background-color: #363333;
    width: 92px;
    height: 97px;
}


/*Game Result Selection - Add this in JS*/
.gameResult {
    width: 60px;
    height: 62px;
}

.game-result > h3 {
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    text-align: center;
}

.full-result-holder {
    min-height: 210px;
}

.game-round-result {
    padding: 0px 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 15px;
}

.round > img {
    height: 24px;
    width: 22px;
    opacity: 75%;
}


.game-round-result > h4 {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: italic;
    opacity: 75%;
}

.game-btn{
   text-align: center;
}

.game-btn > button {
    border: 1px solid rgba(246, 233, 233, 0.29);
    background-color: #363333;
    padding: 15px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

.game-button > img {
    height: 40px;
    width: 42px;
}

.word > p {
    text-align: center;
    padding: 15px;
    font-weight: 100;
    color: #E16428;
}


/*Image Invisible Class*/
.hiddleItems {
    visibility: hidden;
}


@media only screen and (max-width:411px) {
    .full-result-holder{
        min-height: 250px;
    }
}

@media only screen and (max-width:375px) {
    .full-result-holder{
        min-height: 200px;
    }
}

@media only screen and (max-width:360px) {
    .full-result-holder{
        min-height: 190px;
    }

    .game-button > img {
        height: 30px;
        width: 32px;
    }

    .game-selection > img {
        width: 40px;
        height: 42px;
    }

}

@media only screen and (max-width:320px) {
    .full-result-holder{
        min-height: 150px;
    }

    .game-button > img {
        height: 20px;
        width: 22px;
    }

    .game-selection > img {
        width: 40px;
        height: 42px;
    }

    .game-result .game-selection{
        padding: 8px;
    }


}

/*Add These CSS using JS*/
.btnClick-effect {
   border: 1.5px solid white !important;
}

